<p id="notice"><%= notice %></p>

<p>
  <strong>Key:</strong>
  <%= @user_setting.key %>
</p>

<p>
  <strong>User:</strong>
  <%= @user_setting.user_id %>
</p>

<p>
  <strong>Settings:</strong>
  <%= @user_setting.settings %>
</p>

<p>
  <strong>Default:</strong>
  <%= @user_setting.default %>
</p>

<%= link_to 'Edit', edit_user_setting_path(@user_setting) %> |
<%= link_to 'Back', user_settings_path %>
